{{!-- Errant Earth roll chat card --}}
<div class="ee-roll-card ee-roll-card--{{kind}} {{#if outcomeClass}}ee-roll-card--{{outcomeClass}}{{/if}}">
  <header class="ee-roll-card__header">
    {{#if actorImg}}<img class="ee-roll-card__portrait" src="{{actorImg}}" alt="{{actorName}}"/>{{/if}}
    <div class="ee-roll-card__heading">
      <div class="ee-roll-card__actor">{{actorName}}</div>
      <div class="ee-roll-card__label">{{label}}</div>
    </div>
  </header>

  <div class="ee-roll-card__body">
    {{#if subtitle}}<div class="ee-roll-card__subtitle">{{subtitle}}</div>{{/if}}

    <div class="ee-roll-card__formula">
      <span class="ee-roll-card__formula-text">{{formula}}</span>
      <span class="ee-roll-card__total {{outcomeClass}}">{{total}}</span>
    </div>

    {{#if dice}}
    <div class="ee-roll-card__dice">
      {{#each dice}}<span class="ee-roll-card__die {{cls}}">{{value}}</span>{{/each}}
    </div>
    {{/if}}

    {{#if outcome}}
    <div class="ee-roll-card__outcome ee-roll-card__outcome--{{outcomeClass}}">{{outcome}}</div>
    {{/if}}
  </div>
</div>
